APP_NAME=GreenGuard API
APP_VERSION=0.1.0
FRONTEND_ORIGIN=http://localhost:5173
MODEL_PATH=./plant_diseases.h5
CLASS_LABELS=Potato___Early_blight,Potato___healthy,Potato___Late_blight
IMAGE_SIZE=224
MAX_UPLOAD_SIZE_MB=8
